In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import tree

In [61]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
train_labels_df = pd.read_csv("trainLabels.csv")

In [62]:
cols= np.arange(40)
train_df.columns = cols
test_df.columns = cols

In [63]:
test_df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-0.374101,0.537669,0.081063,0.756773,0.915231,2.557282,3.703187,1.673835,-0.764122,-1.228040,...,-0.969463,0.574154,-2.200519,-1.612240,0.179031,-2.924596,0.643610,-1.470939,-0.067408,-0.976265
1,-0.088370,0.154743,0.380716,-1.176126,1.699867,-0.258627,-1.384999,1.093584,1.596633,0.230631,...,-0.769885,-0.005143,1.467490,0.483803,-3.542981,0.814561,-1.652948,1.265866,-1.749248,1.773784
2,-0.685635,0.501283,1.873375,0.215224,-3.983468,-0.103637,4.136113,-0.225431,-1.515015,-1.071763,...,0.968609,2.386412,-0.131219,0.285646,2.302069,1.255588,-1.563090,-0.125258,-1.030761,-2.945329
3,0.350867,0.721897,-0.477104,-1.748776,-2.627405,1.075433,4.954253,-3.293501,-0.760369,0.204360,...,0.260553,-2.045650,-2.173227,0.372992,0.450700,-0.211657,1.301359,-0.522164,2.484883,0.039213
4,-0.424627,1.536196,-1.037752,-0.156466,-2.945038,-0.471607,3.494966,-2.763629,0.819540,0.209529,...,-0.727066,-0.809620,4.504230,-0.481077,-2.923646,-0.468034,-0.846214,1.197350,-5.615563,2.049134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8994,0.171644,-0.806952,-2.045671,0.021156,2.258491,0.429469,0.857187,0.972600,1.707492,1.676370,...,-1.366312,0.276543,-0.732764,0.243930,-1.151233,-0.274298,0.573013,1.109814,-1.905965,1.457601
8995,1.168564,-0.911253,1.685492,0.867183,3.606170,-0.673875,-1.889365,0.411385,-0.206817,-0.705771,...,0.557757,0.379841,-1.474198,-0.322943,1.964519,0.122384,0.678023,2.024129,0.386542,1.104493
8996,0.052274,-1.736558,-0.263699,-0.219329,8.918393,-1.258320,-3.361146,0.893366,-0.631669,1.887286,...,2.117847,-1.050824,0.182872,0.242725,0.670161,0.112752,-3.006949,1.179606,1.156340,-1.218561
8997,1.443659,0.651892,0.550724,-1.146664,2.621641,-0.867143,0.312742,1.078004,-1.212524,-0.028143,...,0.631480,1.186236,-1.098508,1.159658,-1.957241,0.482533,3.777669,-0.424954,1.333374,2.325271
8998,-0.429145,-0.110821,1.257230,-0.088150,-3.925020,-0.251062,-2.212032,-2.692121,-0.005468,0.186300,...,0.384256,0.520610,1.594873,-0.352201,0.152333,-1.772249,0.758809,0.617485,1.464438,3.301445

In [64]:
train_df.describe()
test_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,...,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000
mean,0.011503,0.004289,-0.001648,0.008587,1.262375,0.006007,0.480785,-0.017627,0.006958,-0.006567,...,-0.018887,0.007308,-0.476762,0.016230,-0.508743,-0.002221,0.451227,-0.002043,-1.003323,0.539619
std,1.009140,1.011485,0.996724,0.989061,4.527741,0.999678,2.102425,2.204470,0.989236,0.991582,...,1.003503,1.003379,2.202605,1.015822,2.097563,1.008446,2.187799,1.000207,1.979730,2.011614
min,-3.568633,-4.238067,-3.587473,-3.646144,-17.296514,-3.500646,-9.157707,-7.867021,-4.037177,-3.666707,...,-4.545617,-3.914329,-8.510309,-4.702577,-8.860839,-3.579675,-9.034930,-3.820679,-8.174851,-7.945400
25%,-0.669906,-0.678960,-0.665481,-0.662634,-1.669568,-0.688873,-0.893890,-1.521886,-0.654016,-0.665386,...,-0.689295,-0.664589,-1.986448,-0.674016,-1.908508,-0.689390,-1.071141,-0.667375,-2.293528,-0.717607
50%,0.006067,0.010854,0.007398,0.008996,1.123602,0.011503,0.534789,-0.022683,-0.006204,-0.005404,...,-0.033899,-0.003129,-0.459178,0.013497,-0.481734,0.000066,0.419180,-0.003718,-1.004709,0.636656
75%,0.703067,0.684773,0.658238,0.683597,4.002419,0.691098,1.891266,1.459877,0.676689,0.654391,...,0.655875,0.682256,1.026234,0.691870,0.957404,0.666468,1.938530,0.667712,0.321610,1.897022
max,3.843549,3.538868,3.716102,3.667817,20.551947,4.565496,7.882210,7.391208,3.706671,3.322649,...,3.624639,4.251316,8.598575,4.157051,6.851583,3.911722,8.624332,3.860112,7.125848,9.464492

In [65]:
print("train info")
train_df.info()
print("test info")
test_df.info()

train info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       999 non-null    float64
 1   1       999 non-null    float64
 2   2       999 non-null    float64
 3   3       999 non-null    float64
 4   4       999 non-null    float64
 5   5       999 non-null    float64
 6   6       999 non-null    float64
 7   7       999 non-null    float64
 8   8       999 non-null    float64
 9   9       999 non-null    float64
 10  10      999 non-null    float64
 11  11      999 non-null    float64
 12  12      999 non-null    float64
 13  13      999 non-null    float64
 14  14      999 non-null    float64
 15  15      999 non-null    float64
 16  16      999 non-null    float64
 17  17      999 non-null    float64
 18  18      999 non-null    float64
 19  19      999 non-null    float64
 20  20      999 non-null    float64
 21  21      999 non-null    float64
 22  22      999 non-null    float64
 23  23      999 non-null    float64
 24  24      999 non-null    float64
 25  25      999 non-null    float64
 26  26      999 non-null    float64
 27  27      999 non-null    float64
 28  28      999 non-null    float64
 29  29      999 non-null    float64
 30  30      999 non-null    float64
 31  31      999 non-null    float64
 32  32      999 non-null    float64
 33  33      999 non-null    float64
 34  34      999 non-null    float64
 35  35      999 non-null    float64
 36  36      999 non-null    float64
 37  37      999 non-null    float64
 38  38      999 non-null    float64
 39  39      999 non-null    float64
dtypes: float64(40)
memory usage: 312.3 KB
test info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8999 entries, 0 to 8998
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8999 non-null   float64
 1   1       8999 non-null   float64
 2   2       8999 non-null   float64
 3   3       8999 non-null   float64
 4   4       8999 non-null   float64
 5   5       8999 non-null   float64
 6   6       8999 non-null   float64
 7   7       8999 non-null   float64
 8   8       8999 non-null   float64
 9   9       8999 non-null   float64
 10  10      8999 non-null   float64
 11  11      8999 non-null   float64
 12  12      8999 non-null   float64
 13  13      8999 non-null   float64
 14  14      8999 non-null   float64
 15  15      8999 non-null   float64
 16  16      8999 non-null   float64
 17  17      8999 non-null   float64
 18  18      8999 non-null   float64
 19  19      8999 non-null   float64
 20  20      8999 non-null   float64
 21  21      8999 non-null   float64
 22  22      8999 non-null   float64
 23  23      8999 non-null   float64
 24  24      8999 non-null   float64
 25  25      8999 non-null   float64
 26  26      8999 non-null   float64
 27  27      8999 non-null   float64
 28  28      8999 non-null   float64
 29  29      8999 non-null   float64
 30  30      8999 non-null   float64
 31  31      8999 non-null   float64
 32  32      8999 non-null   float64
 33  33      8999 non-null   float64
 34  34      8999 non-null   float64
 35  35      8999 non-null   float64
 36  36      8999 non-null   float64
 37  37      8999 non-null   float64
 38  38      8999 non-null   float64
 39  39      8999 non-null   float64
dtypes: float64(40)
memory usage: 2.7 MB

In [66]:
train_labels_df.value_counts()

1
1    509
0    490
dtype: int64

In [67]:
x_train, x_test, y_train, y_test = train_test_split(train_df, train_labels_df, test_size=0.2, random_state=30)

In [68]:
print("x train dimension : ",x_train.shape)
print("x test dimension : ",x_test.shape)
print("y train dimension : ",y_train.shape)
print("y test dimension : ",y_test.shape)

x train dimension :  (799, 40)
x test dimension :  (200, 40)
y train dimension :  (799, 1)
y test dimension :  (200, 1)

# Data Normalisation and Standardization

# Normalization

In [58]:
normalizer = MinMaxScaler()
normalized_train_x = normalizer.fit_transform(x_train)
normalized_test_x = normalizer.transform(x_test)

# Standardization

In [69]:
scaler = StandardScaler()
scaled_train_x = scaler.fit_transform(x_train)
scaled_test_x = scaler.transform(x_test)

# As there is no null values present in test and train data therefore there is not need of any Data pre-processing

# Apply Logistic Regression Algorithms

In [92]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(x_train,y_train)
y_predLR = clf.predict(x_test)
print(accuracy_score(y_test, y_predLR)*100,"%")

83.0 %

C:\Users\rahul\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [91]:
clf = LogisticRegression(random_state=0).fit(normalized_train_x,y_train)
y_predNLR = clf.predict(x_test)
print(accuracy_score(y_test, y_predNLR)*100,"%")

78.5 %

C:\Users\rahul\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [90]:
clf = LogisticRegression(random_state=0).fit(scaled_train_x,y_train)
y_predSLR = clf.predict(x_test)
print(accuracy_score(y_test, y_predSLR)*100,"%")

80.5 %

C:\Users\rahul\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

# Apply Decision Tree Classifier

In [89]:
clf=tree.DecisionTreeClassifier(criterion="gini",random_state = 42) 
clf.fit(x_train, y_train)
y_predDT=clf.predict(x_test)
print(accuracy_score(y_test,y_predDT)*100,"%")

73.5 %

In [88]:
clf=tree.DecisionTreeClassifier(criterion="gini",random_state = 42) 
clf.fit(normalized_train_x, y_train)
y_predDT=clf.predict(x_test)
print(accuracy_score(y_test,y_predDT)*100,"%")

43.0 %

In [87]:
clf=tree.DecisionTreeClassifier(criterion="gini",random_state = 42) 
clf.fit(scaled_train_x, y_train)
y_predDT=clf.predict(x_test)
print(accuracy_score(y_test,y_predDT)*100,"%")

65.5 %

# Apply SVM Classifier

In [84]:
svclassifier=SVC(kernel='rbf',random_state=30, gamma='auto')
svclassifier.fit(x_train,y_train)
y_predSVM=svclassifier.predict(x_test)
svclassifier.score(X_test, y_test)
print(accuracy_score(y_test, y_predSVM)*100,"%")

86.5 %

C:\Users\rahul\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

# Normalized

In [94]:
svclassifier=SVC(kernel='rbf',random_state=30, gamma='auto')
svclassifier.fit(normalized_train_x,y_train)
y_predNSVM=svclassifier.predict(x_test)
svclassifier.score(x_test, y_test)
print(accuracy_score(y_test, y_predNSVM)*100,"%")

62.5 %

C:\Users\rahul\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

# Standardrized

In [95]:
svclassifier=SVC(kernel='rbf',random_state=30, gamma='auto')
svclassifier.fit(scaled_train_x,y_train)
y_predSSVM=svclassifier.predict(x_test)
svclassifier.score(x_test, y_test)
print(accuracy_score(y_test, y_predSSVM)*100,"%")

68.5 %

C:\Users\rahul\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

# Apply KNN Classifier

In [97]:
knn = KNeighborsClassifier(n_neighbors=7).fit(x_train, y_train.values.ravel())
pred_KNN = knn.predict(x_test)
print(accuracy_score(y_test, pred_KNN)*100,"%")

88.0 %

# Normalized

In [99]:
knn = KNeighborsClassifier(n_neighbors=7).fit(normalized_train_x, y_train.values.ravel())
pred_NKNN = knn.predict(x_test)
print(accuracy_score(y_test, pred_NKNN)*100,"%")

86.5 %

# Standardarized

In [101]:
knn = KNeighborsClassifier(n_neighbors=7).fit(scaled_train_x, y_train.values.ravel())
pred_SKNN = knn.predict(x_test)
print(accuracy_score(y_test, pred_KNN)*100,"%")

88.0 %

# Apply Random Forest

In [108]:
RF = RandomForestClassifier(criterion='gini',n_estimators=75,random_state =42)
RF.fit(x_train, y_train.values.ravel())
pred_RF = RF.predict(x_test)
print(accuracy_score(pred_RF,y_test)*100,"%")

85.5 %

# Normalized

In [107]:
RF = RandomForestClassifier(criterion='gini',n_estimators=75,random_state =42)
RF.fit(normalized_train_x, y_train.values.ravel())
pred_NRF = RF.predict(x_test)
print(accuracy_score(pred_NRF,y_test)*100,"%")

73.0 %

# Standardrized

In [106]:
RF = RandomForestClassifier(criterion='gini',n_estimators=75,random_state =42)
RF.fit(scaled_train_x, y_train.values.ravel())
pred_SRF = RF.predict(x_test)
print(accuracy_score(pred_SRF,y_test)*100,"%")

84.0 %

# As KNN classifier gives an accuracy of 86% therefore i am applying KNN algorithm

In [110]:
prefict  = knn.predict(test_df)
predict

array([[1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0]], dtype=int64)